PORT=3333
ENABLE_MOCK_PROVIDER=true
ENABLE_PNCP_PROVIDER=false
ENABLE_COMPRASGOV_PROVIDER=false
ENABLE_SANTA_CATARINA_PROVIDER=false
PNCP_BASE_URL=https://pncp.gov.br/api/consulta
COMPRASGOV_BASE_URL=https://dadosabertos.compras.gov.br/modulo-licitacoes/1_consultarLicitacao
